.clients {
  width: 100%;
  height: auto;
  background-color: $color-light;
  padding: 0 $spacing-5xl;
  padding-top: $spacing-5xl;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: $spacing-8xl;
  position: relative;

  &__text-box {
    background-color: $color-primary;
    width: 100%;
    height: 55%;
    position: absolute;
    bottom: $spacing-7xl;
    margin: auto 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: $spacing-4xl;
    z-index: $z1;

    &-content {
      @include display-flex(column, center, start, $spacing-lg);
      padding: $spacing-5xl;
      width: 100%;
      grid-column: 2;
    }
  }

  &__background {
    background-color: $color-dark;
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
  }
}
