.clients {
  @include width-height(100%);

  gap: $spacing-8xl;
  padding: 0 $spacing-5xl;
  padding-top: $spacing-5xl;
  display: grid;
  grid-template-columns: 1fr 2fr;
  position: relative;

  &__text-box {
    @include width-height(100%, 55%);

    background-color: $color-primary;
    margin: auto 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: $spacing-4xl;
    position: absolute;
    bottom: $spacing-7xl;
    z-index: $z1;

    &-content {
      padding: $spacing-5xl;
      grid-column: 2;
    }
  }

  &__background {
    @include display-flex(column);
    @include width-height(100%, 100%);
    position: absolute;

    &--top {
      @include width-height(100%, 100%);
      background-color: $color-light;
    }
    &--bottom {
      @include width-height(100%, 100%);
      background-color: $color-dark;
    }
  }
}
