.contacts {
  @include display-flex(row, space-between, start, $spacing-5xl);
  padding: $spacing-10xl $spacing-5xl $spacing-10xl;

  &__form {
    @include display-flex(column, center, center, $spacing-4xl);
    @include width-height(100%, 100%);
    flex: 3;
    height: $sz-form;
  }
  &__gallery {
    @include display-flex(row, center, start);
    @include width-height(100%, 100%);

    flex: 2;
    position: relative;

    &-img {
      @include display-flex(row, center, center);
      width: 60%;

      img {
        border: solid $color-secondary $spacing-xs;
        height: $sz-form;
        object-fit: cover;
      }
    }

    &-shadow {
      font-size: $fs-4xl;
      position: absolute;
      bottom: -6rem;
      transition: $tr-all-long;
    }

    &:hover .contacts__gallery-shadow {
      color: $color-accent;
    }
  }
}

@include breakpoint("desktop-big") {
  .contacts {
    padding: $spacing-8xl $spacing-5xl $spacing-10xl;
    gap: $spacing-6xl;

    &__form {
      gap: $spacing-xxl;
      height: $sz-form-sm;
    }

    &__gallery-img {
      img {
        height: $sz-form-sm;
      }
    }

    &-shadow {
      font-size: $fs-4xl;
      bottom: -6rem;
    }
  }
}

@include breakpoint("desktop-small") {
  .contacts {
    @include display-flex(column, space-between, start, $spacing-5xl);
    padding-top: $spacing-10xl;

    &__gallery-img {
      width: 100%;
      padding: 0 $spacing-5xl;
      img {
        height: auto;
        max-height: 80vh;
        width: 100%;
      }
    }
  }
}

@include breakpoint("tab-port") {
  .contacts {
    padding: $spacing-10xl $spacing-xxl $spacing-4xl;
    gap: $spacing-4xl;

    &__gallery {
      &-shadow {
        display: none;
      }

      &-img {
        padding: 0;
      }
    }
  }
}
