.contacts {
  @include display-flex(row, space-between, start, $spacing-5xl);
  @include width-height(100%);
  padding: $spacing-5xl $spacing-5xl $spacing-10xl;

  &__form {
    @include display-flex(column, space-between, start, $spacing-4xl);
    @include width-height(100%, 100%);
    flex: 3;
  }
  &__gallery {
    @include display-flex(row, center, start);
    @include width-height(100%, 100%);

    flex: 2;
    position: relative;

    img {
      height: 100%;
      object-fit: cover;
    }

    &-shadow {
      font-size: $fs-4xl;
      position: absolute;
      bottom: -6rem;
      transition: $tr-all-long;
    }

    &:hover .contacts__gallery-shadow {
      color: $color-primary;
      opacity: 0.9;
    }
  }
}
