.home {
  @include display-flex(row, center, center, $spacing-xxl);
  @include width-height(100%, 100vh);

  padding: $spacing-10xl $spacing-5xl $spacing-5xl;

  &__text-block {
    @include display-flex(column, space-between, start, $spacing-lg);

    width: 100%;
    padding: $spacing-5xl 0;

    .paragraph {
      margin-bottom: $spacing-lg;
    }
  }

  &__heading {
    font-size: $fs-heading-big;
    margin-bottom: $spacing-sm;
    position: relative;
    z-index: $z1;

    &-shadow {
      position: absolute;
      top: -8rem;
      left: -5rem;
      transition: $tr-all-long;
    }
  }

  &__heading-box {
    position: relative;

    &:hover .home__heading-shadow {
      color: $color-secondary;
      opacity: 0.5;
    }
  }

  &__asset {
    @include display-flex(row, center, center);
    width: 60%;

    img {
      max-width: 100%;
      max-height: calc(100vh - $spacing-15xl);
    }
  }

  &__buttons {
    @include display-flex(row, center, center, $spacing-lg);
  }
}
