.team {
  @include display-flex(column, start, start, $spacing-5xl);
  @include width-height(100%);
  background-color: $color-dark;
  padding: $spacing-5xl;

  &__members {
    @include width-height(100%, 100%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: $spacing-lg;
    overflow: hidden;

    &-profile {
      @include display-flex(column, center, center, $spacing-lg);
      position: relative;
    }

    &-info {
      @include display-flex(column, center, center, $spacing-lg);
      width: 100%;
      aspect-ratio: 1;
      text-align: center;
      padding: $spacing-xxl;
      background-color: $color-dark-transparent;
      user-select: none;
      position: absolute;
      top: 0;
      opacity: 0;
      transition: $tr-all-long;

      &:hover {
        opacity: 1;
      }
    }

    img {
      @include width-height(100%, 100%);

      aspect-ratio: 1;
      object-fit: cover;
    }
  }
}
