.team {
  @include display-flex(column, start, start, $spacing-4xl);
  @include width-height(100%);
  min-height: 100vh;
  padding: $spacing-12xl $spacing-5xl;

  &__members {
    @include width-height(100%, 100%);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $spacing-lg;
    overflow: hidden;

    &-profile {
      @include display-flex(column, center, center, $spacing-lg);
      position: relative;
    }

    &-info {
      @include display-flex(column, center, center, $spacing-lg);
      // @include font-style("", $color-dark, $size: $fs-xxxs);

      width: 100%;
      aspect-ratio: 1;
      font-size: $fs-xxxs;
      text-align: center;
      padding: $spacing-xl;
      background-color: $color-secondary-transparent;
      user-select: none;
      position: absolute;
      top: 0;
      opacity: 0;
      transition: $tr-all-long;

      &:hover {
        opacity: 1;
      }
    }

    img {
      @include width-height(100%, 100%);

      border: solid $color-primary $spacing-xs;
      object-fit: cover;
    }
  }
}

@include breakpoint("desktop-big") {
  .team {
    padding: $spacing-10xl $spacing-5xl $spacing-5xl;

    &__members {
      &-info {
        padding: $spacing-lg;
        p {
          font-size: $fs-xxxs;
        }
      }
    }
  }
}

@include breakpoint("desktop-small") {
  .team {
    &__members {
      grid-template-columns: repeat(2, 1fr);
      gap: $spacing-lg;
    }
  }
}

@include breakpoint("tab-land") {
  .team {
    gap: $spacing-lg;
  }
}

@include breakpoint("tab-port") {
  .team {
    padding: $spacing-10xl $spacing-xxl;
    gap: $spacing-xl;

    &__members {
      grid-template-columns: 1fr;
    }
  }
}

@include breakpoint("mobile") {
  .team {
    &__members-info {
      display: none;
    }
  }
}
