@import "./typography.scss";

*,
*:before,
*:after {
  @include font-style($ff-body, "", $fs-paragraph, $fw-regular);

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  letter-spacing: 10%;
  vertical-align: baseline;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.75;
}

ol,
ul {
  list-style: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}
