@import "../utilities/colors.scss";
@import "../utilities/spacers.scss";

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  vertical-align: baseline;
  text-decoration: none;
}

:focus-visible {
  border: $spacing-xs solid;
  padding: $spacing-xxs;
  border-style: double;
  border-color: $color-primary;
  background-color: $color-dark;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $color-primary;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

button {
  background: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (min-width: calc($desktop-big + 1px)) {
  html {
    font-size: 80%;
  }
}

@media (max-width: calc($desktop + 1px)) {
  html {
    font-size: 62.5%;
  }
}

@media (max-width: calc($desktop-small + 1px)) {
  html {
    font-size: 58%;
  }
}

@media (max-width: calc($tab-port + 1px)) {
  html {
    font-size: 50%;
  }
}
