@import "../utilities";
@import "transitions";

$fs-heading-big: $fs-4xl;
$fs-heading-medium: $fs-lg;
$fs-heading-medium--mobile: $fs-md;
$fs-heading-small: $fs-md;
$fs-subheading: 5.3rem;
$fs-paragraph: $fs-xxs;
$fs-paragraph-big: $fs-xs;

$fs-shadow-big: $fs-6xl;
$fs-shadow-small: $fs-xxl;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$ff-heading: "Oswald", sans-serif;
$ff-subheading: "Quattrocento", sans-serif;
$ff-body: "Martel", sans-serif;

$ls-big: 0.3em;
$ls-small: 0.1em;

.heading {
  @include font-style(
    $ff-heading,
    $color-primary,
    $fs-heading-medium,
    $fw-bold
  );
}

.paragraph {
  @include font-style($ff-body, "", $fs-paragraph, $fw-regular);
  line-height: 1.75;

  &--light {
    @include font-style($ff-heading, "", "", $fw-light);
    line-height: 1.25;
  }
}

.subheading {
  @include font-style(
    $ff-subheading,
    $color-secondary,
    $fs-subheading,
    $fw-bold
  );
}

.link {
  @include font-style(
    $ff-heading,
    $color-primary,
    $fs-paragraph-big,
    $fw-light
  );

  cursor: pointer;
  line-height: 1;
  transition: $tr-color-short;

  &--bold {
    font-weight: $fw-medium;
  }

  &:hover,
  &--bold:hover,
  &--active {
    color: $color-light;
  }

  &--no-hover {
    cursor: auto;
    &:hover {
      color: $color-primary;
    }
  }
}

.text-shadow {
  @include font-style(
    $ff-subheading,
    $color-dark-tint,
    $fs-shadow-big,
    $fw-bold
  );

  user-select: none;
  transition: $tr-color-long;
}

.text-narrow {
  @include font-style($ff-heading, $color-primary, $fs-sm, $fw-bold);
  line-height: 1.25;

  &--link {
    cursor: pointer;
    font-size: $fs-paragraph-big;
    transition: $tr-color-short;
    &:hover {
      color: $color-light;
    }
  }
}

@include breakpoint("desktop-small") {
  .heading {
    font-size: $fs-heading-medium--mobile;
    line-height: 1.5;
    text-align: start;
  }
}
