@import "../utilities";
@import "transitions";

$fs-heading-big: 12rem;
$fs-heading-medium: 5rem;
$fs-heading-small: 4rem;
$fs-subheading: 5.3rem;
$fs-paragraph: 1.6rem;
$fs-paragraph-big: 2.1rem;

$fs-shadow-big: 19rem;
$fs-shadow-small: 9rem;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$ff-heading: "Oswald", sans-serif;
$ff-body: "Quattrocento", sans-serif;

$ls-big: 0.3em;
$ls-small: 0.1em;

.heading {
  @include font-style(
    $ff-heading,
    $color-primary,
    $fs-heading-medium,
    $fw-bold
  );
}

.paragraph {
  @include font-style($ff-body, "", $fs-paragraph, $fw-regular);
  line-height: 1.5;

  &--light {
    font-family: $ff-heading;
    font-weight: $fw-light;
  }
}

.subheading {
  @include font-style($ff-body, $color-tertiary, $fs-subheading, $fw-bold);
}

.link {
  @include font-style(
    $ff-heading,
    $color-primary,
    $fs-paragraph-big,
    $fw-light
  );

  cursor: pointer;
  line-height: 1;
  transition: $tr-color-short;

  &--bold {
    font-weight: $fw-medium;
  }

  &:hover,
  &--bold:hover {
    color: $color-light;
  }

  &--no-hover {
    &:hover {
      color: $color-primary;
    }
  }
}

.text-shadow {
  @include font-style($ff-body, $color-dark-tint, $fs-shadow-big, $fw-bold);

  user-select: none;
  transition: $tr-color-long;
}

.text-narrow {
  @include font-style($ff-heading, $color-primary, $fs-paragraph-big, $fw-bold);
  line-height: 1.25;

  &--link {
    cursor: pointer;
    transition: $tr-color-short;
    &:hover {
      color: $color-light;
    }
  }
}
