@mixin breakpoint($point) {
  @if $point == "mobile" {
    @media (max-width: calc($mobile - 1px)) {
      @content;
    }
  } @else if $point == "tab-port" {
    @media (max-width: calc($tab-port - 1px)) {
      @content;
    }
  } @else if $point == "tab-land" {
    @media (max-width: calc($tab-land - 1px)) {
      @content;
    }
  } @else if $point == "desktop-small" {
    @media (max-width: calc($desktop-small - 1px)) {
      @content;
    }
  } @else if $point == "desktop" {
    @media (max-width: calc($desktop - 1px)) {
      @content;
    }
  } @else if $point == "desktop-big" {
    @media (max-width: calc($desktop-big - 1px)) {
      @content;
    }
  } @else {
    @media (max-width: $point) {
      @content;
    }
  }
}

@mixin font-style(
  $family: $ff-body,
  $color: $color-dark,
  $size: $fs-paragraph,
  $weight: $fw-regular,
  $space: $ls-small
) {
  font-family: $family;
  color: $color;
  font-size: $size;
  font-weight: $weight;
  letter-spacing: $space;
}

@mixin display-flex(
  $direction: row,
  $justify: flex-start,
  $align: stretch,
  $gap: 0,
  $wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
  flex-wrap: $wrap;
}

@mixin width-height(
  $width,
  $height: $width,
  $max-width: null,
  $max-height: null,
  $min-width: null,
  $min-height: null
) {
  width: $width;
  height: $height;

  @if $max-width != null {
    max-width: $max-width;
  }

  @if $max-height != null {
    max-height: $max-height;
  }

  @if $min-width != null {
    min-width: $min-width;
  }

  @if $min-height != null {
    min-height: $min-height;
  }
}
