:root {
  --color-primary: #ccc5b9;
}

$color-primary: #ccc5b9;
$color-primary-tint: #dbd6ce;
$color-primary-shade: #a39e94;

$color-secondary: #666461;
$color-secondary-transparent: #a4a19c6f;

$color-light: #fffcf2;

$color-dark: #252422;
$color-dark-tint: #3b3a38;
$color-dark-shade: #070707;
$color-dark-transparent: #252422a9;

$color-accent: #eb5e28;
$color-accent-tint: #ed6e3e;
$color-accent-shade: #d45524;
$color-accent-dark: #55220e;

.color {
  &--primary {
    color: $color-primary;
  }
  &--accent {
    color: $color-accent;
  }
  &--secondary {
    color: $color-secondary;
  }
  &--dark {
    color: $color-dark;
  }
  &--dark-tint {
    color: $color-dark-tint;
  }
  &--light {
    color: $color-light;
  }
}
