:root {
  --color-primary: #ebbc65;
}

$color-primary: #ebbc65;
$color-primary-tint: #edc374;
$color-primary-shade: #d4a95b;
$color-secondary: #972b24;
$color-secondary-tint: #a1403a;
$color-secondary-shade: #882720;
$color-tertiary: #4c8886;
$color-dark: #29313a;
$color-dark-tint: #3d454f;
$color-dark-shade: #252c34;
$color-light: #fff8ec;

.color {
  &-primary {
    color: $color-primary;
  }
  &-secondary {
    color: $color-secondary;
  }
  &-tertiary {
    color: $color-tertiary;
  }
  &-dark {
    color: $color-dark;
  }
  &-dark-tint {
    color: $color-dark-tint;
  }
  &-light {
    color: $color-light;
  }
}
