$spacing-xxs: 0.4rem;
$spacing-xs: 0.8rem;
$spacing-sm: 1.6rem;
$spacing-md: 2.4rem;
$spacing-lg: 3.2rem;
$spacing-xl: 4.8rem;
$spacing-xxl: 6.4rem;
$spacing-4xl: 8rem;
$spacing-5xl: 11.2rem;
$spacing-6xl: 12.8rem;
$spacing-7xl: 14.4rem;
$spacing-8xl: 16rem;
$spacing-9xl: 17.6rem;
$spacing-10xl: 19.2rem;
$spacing-11xl: 20.8rem;
$spacing-12xl: 22.4rem;
$spacing-13xl: 24rem;
$spacing-14xl: 25.6rem;
$spacing-15xl: 27.2rem;
