@import "../utilities/layers.scss";

.button {
  @include font-style($ff-heading, $color-light, $fs-paragraph-big, $fw-light);
  cursor: pointer;
  width: fit-content;
  background-color: $color-secondary;
  padding: $spacing-xs $spacing-md;
  text-align: center;
  transition: $tr-bg-short;

  &:hover {
    background-color: $color-secondary-tint;
  }

  &:active {
    background-color: $color-secondary;
  }
}

.menu-btn {
  background: none;

  &-container {
    z-index: $z10;
  }

  @include display-flex(row, center, center);
  @include width-height($spacing-lg, $spacing-lg);
  cursor: pointer;

  &__hamburger {
    position: relative;
    transition: $tr-all-short;

    &,
    &::before,
    &::after {
      @include width-height($spacing-lg, 2px);
      background-color: $color-primary;
      display: inline-block;
      transition: $tr-bg-short;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: $tr-all-short;
    }

    &::before {
      top: -1rem;
    }
    &::after {
      top: 1rem;
    }

    &--open {
      background-color: transparent;

      &::before {
        top: 0;
        transform: rotate(45deg);
      }

      &::after {
        top: 0;
        transform: rotate(-45deg);
      }
    }
  }

  &:hover &__lines::before {
    top: -1.2rem;
  }

  &:hover &__lines::after {
    top: 1.2rem;
  }
}
