.feature {
  @include display-flex(column, "", center, $spacing-lg);
  border: solid $color-secondary $spacing-xs;

  background-color: $color-dark;
  padding: $spacing-xl;
  flex: 1;
  position: relative;

  &__text {
    @include display-flex(column, space-between, center, $spacing-lg);
    flex: 1;
    text-align: center;
    margin-bottom: $spacing-sm;
    z-index: $z5;
  }

  &-icon {
    @include width-height($sz-icon-large);
    z-index: $z6;
  }

  &::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-dark;
    opacity: 0.9;
    position: absolute;
    z-index: $z5;
  }
}

@include breakpoint("desktop-big") {
  .feature {
    gap: $spacing-md;

    &__text {
      gap: $spacing-sm;
    }

    &-icon {
      @include width-height($sz-icon-small);
    }
  }
}

@include breakpoint("desktop") {
  .feature {
    gap: $spacing-xl;
    min-height: 40vh;
  }
}

@include breakpoint("tab-land") {
  .feature {
    gap: $spacing-xl;
    height: 48rem;

    &__text {
      gap: $spacing-xl;
    }

    &-icon {
      @include width-height($sz-icon-small);
    }
  }
}

@include breakpoint("tab-port") {
  .feature {
    height: auto;

    &__text {
      gap: $spacing-lg;
    }
  }
}
