.logo {
  @include font-style(
    $ff-subheading,
    $color-primary,
    $fs-heading-small,
    $fw-bold,
    $ls-big
  );

  cursor: pointer;
  user-select: none;
  transition: $tr-color-medium;

  &:hover {
    color: $color-accent;
  }
}

@include breakpoint("tab-port") {
  .logo {
    font-size: $fs-paragraph-big;
  }
}
