.logo {
  @include font-style(
    $ff-subheading,
    $color-primary,
    $fs-heading-small,
    $fw-bold,
    $ls-big
  );

  cursor: pointer;
  user-select: none;
}

@include breakpoint($mobile) {
  .logo {
    font-size: $fs-paragraph-big;
  }
}
