.message-form {
  @include display-flex(column, start, start, $spacing-md);
  @include width-height(100%, 100%);

  &__element {
    @include font-style(
      $ff-heading,
      $color-dark-tint,
      $fs-paragraph,
      $fw-light
    );

    background-color: $color-light;
    padding: $spacing-sm;

    &::placeholder {
      color: $color-tertiary;
    }

    &:focus {
      outline: none;
      border: 3px solid $color-primary;

      &::placeholder {
        visibility: hidden;
      }
    }

    &:valid {
      border: 3px solid $color-tertiary;
    }
  }

  input {
    @include width-height(100%, $spacing-xl);
  }

  textarea {
    width: 100%;
    max-width: 100%;

    height: 100%;
    resize: none;
    flex: 1;
  }

  .required-field {
    &:invalid {
      border: 2px solid $color-secondary;
      background-color: $color-dark-tint;
      color: $color-light;
    }
  }
}

@include breakpoint("desktop-small") {
  .message-form {
    @include display-flex(column, space-between, start, $spacing-md);

    min-height: 40vh;
  }

  @include breakpoint("mobile") {
    .message-form {
      min-height: 70vh;
    }
  }
}
