.testimonials-box {
  @include display-flex(column, space-between, center, $spacing-lg);
  @include width-height(100%, 100%);
  background-color: $color-secondary;
  z-index: $z5;
  padding: $spacing-xxl;
  position: relative;

  &__photo {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    img {
      @include width-height(100%, 100%);
      border: solid $color-primary $spacing-xs;
      object-fit: cover;
    }

    &--placeholder {
      background-color: aqua;
      @include width-height(1000rem, 1000rem);
      position: absolute;
    }
  }

  &__text {
    @include display-flex(column, space-between, center, $spacing-xl);
    width: 100%;
  }

  &-arrows {
    @include display-flex(row, space-between, center);
    width: 100%;

    svg {
      cursor: pointer;
      transition: $tr-color-short;
    }

    svg:hover {
      color: $color-light;
    }

    &--small-screen {
      @include display-flex(row, space-between, center);
      position: relative;
    }
  }

  &-arrow {
    @include display-flex(row, center, center);
    @include font-style("", $color-primary, $fs-lg);
    background: none;
  }
}

@media (max-width: calc($desktop-big - 1px)) {
  .testimonials-box {
    gap: $spacing-md;
    padding: $spacing-lg;

    &-arrows {
      bottom: 0;
      padding: $spacing-xs;
    }

    &-arrow {
      font-size: $fs-md;
    }
  }
}

@media (max-width: calc($desktop-small - 1px)) {
  .testimonials-box {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $spacing-xxl;

    &__text {
      @include display-flex(column, space-between, stretch);
      height: 80%;
    }
  }

  .client {
    @include display-flex(column, center, end, $spacing-xl);
    padding-bottom: $spacing-sm;
    height: 100%;
  }
}

@include breakpoint("tab-port") {
  .testimonials-box {
    @include display-flex(column, space-between, center, $spacing-xl);
    padding: 0;
    height: 100%;

    &__text {
      gap: $spacing-sm;
    }
  }
}

@include breakpoint("mobile") {
  .testimonials-box {
    min-height: 100vh;
  }
}
