.testimonials-box {
  @include display-flex(column, space-between, center, $spacing-xxl);

  height: 76rem;
  background-color: $color-tertiary;
  z-index: $z5;
  padding: $spacing-xxl;
  position: relative;
  width: 100%;

  &__content {
    @include display-flex(column, center, end, $spacing-xl);
    width: 100%;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }

  &__arrows {
    @include font-style("", $color-primary, $fs-lg);
    @include display-flex(row, space-between, center);
    width: 100%;
    padding: 0 $spacing-md;
    position: absolute;
    bottom: $spacing-sm;
    right: 0;
    left: 0;

    svg {
      cursor: pointer;
      transition: $tr-color-short;
    }

    svg:hover {
      color: $color-light;
    }
  }

  &::after {
    content: "";
    width: calc(100% - $spacing-xxl * 2);
    aspect-ratio: 1;
    top: $spacing-xxl;
    background-color: $color-primary;
    position: absolute;
    opacity: 0.2;
  }
}
