@import "../utilities/layers.scss";
.header {
  @include display-flex(row, space-between, center);
  @include width-height($sz-header-width, $sz-header-desktop);
  background-color: transparent;
  padding: $spacing-md $spacing-xl;
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: $z9;
  transition: $tr-bg-medium;

  &--on-scroll {
    background-color: $color-dark-tint;
  }

  &__desktop {
    @include display-flex(row, end, center);
    @include width-height(100%);

    &-links {
      @include display-flex(row, space-between, center, $spacing-xl);
      margin-right: $spacing-xl;
    }
  }

  &__mobile {
    @include display-flex(column, center, center, $spacing-4xl);
    @include width-height($sz-header-mobile, 100vh);

    background-color: $color-dark-tint;
    box-shadow: $shadow-nav;
    -webkit-box-shadow: $shadow-nav;
    -moz-box-shadow: $shadow-nav;
    position: fixed;
    right: 0;
    top: 0;
    z-index: $z9;

    &-links {
      @include display-flex(column, center, center, $spacing-xl);
    }
  }
}

@include breakpoint("desktop-small") {
  .header__desktop-links {
    gap: $spacing-lg;
  }
}

@include breakpoint("tab-port") {
  .header {
    width: $sz-header-width-small;

    &__mobile {
      width: calc(100% - $sz-wrapper-border-mobile);
    }
  }
}
